.nav1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.nav{
    text-decoration: none;
    gap: 40px;
    align-items: center;
    
    
}
.links{
    text-decoration: none;
    color: black;
}
.text{
    font-family: Arial, Helvetica, sans-serif;
}
.image{
    justify-content: center;
}
/* .cara{
    justify-content: center;
} */
.tab{
    background-color: rgba(191, 217, 230, 0.935);
}
.nav2{
    justify-content: center;
    display: flex;
    gap: 20px;
    list-style-type: none;
    text-decoration: none;
}
.price{
    text-decoration: none;
    color: black;
}
@media (max-width: 480px) {
    .tab {
      width: 100%; !important
      height: 20%; !important
    }
  }
.streambutton:hover{
    background-color: black;
    color: blue;
}
